.register-page-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-height: 100vh;
    background-color: #333;
    padding-top: 5vh;
}

.signup-container {
    max-width: 500px;
    width: 100%;
    background: #444;
    padding: 6vh 9vh;
    border-radius: 3vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 3vh;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 2vh;
}

.form-links {
    text-align: center;
    margin-top: 15px;
    width: 100%;
}

.form-links a {
    text-decoration: none;
    color: #4caf50;
    font-size: 0.9rem;
    margin: 0 10px;
    transition: color 0.3s;
}

.form-links a:hover {
    color: #388e3c;
}
@media (max-height: 800px) {
    .page-container {
        padding: 80px 0 20px 0; 
        height: auto;
    }
    
    .signup-container {
        padding: 4vh 5vh; 
        border-radius: 3vh;
    }
}